@tailwind base;
@tailwind components;
@tailwind utilities;




#link-form {
    background-color: blueviolet;
}

#cta {
    background-image: url('../images/bg-boost-desktop.svg');
    background-repeat: no-repeat;
    background-size: cover;
}